<h2>LOGIN</h2>
<% if(message.error) {%>
    <% message.error
<form action="/login.ejs" method="POST">
  
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
  </div>
  <button type="submit">Login</button>
</form>
<a href="/Register">Register</a>
